/*
.container {
    text-align: center;
}
h1 {
    color: #87afff;
}
input {
    max-width: 50%;
    margin: 0 auto;
}
button {
    width: 190px;
}
.dropdown-toggle {
    margin-right: 3px;
    margin-left: auto;
}
.dropdown-menu {
    top: 3px;
    }
.selection {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}
button {
    margin-right: 6%;
}
*/